img{
    height: auto;
    width: 300px;
}

.bg-ltgray{
    background-color: #b8b8b8;
}

.bg-gray{
    background-color: #8b8b8b;
    border: 2px solid black;
}


.blk-border{
    border: 3px solid black;
}

hr{
    border-color: #434343;
}

ul {
    list-style: square;
}
.linkedin{
    color: #3276b0;
}

.git{
    color: #25292e;
}